* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

body {
    width: 100%;
}
#hero {
    height: 400px;
    background-image: url("../assets/images/technology.jpg");
    background-size: cover;
    position: relative;
}

@media screen and (max-width: 425px) {
    #container {
        width: 425px;
        height: 100vh;
        background-color: cadetblue;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {

    #container {
        width: 768px;
        height: 100vh;
        background-color: blueviolet;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #container {
        width: 1024px;
        height: 100vh;
        background-color: black;
    }
}